body {
	color: #ffffff;
  width: 100%;
  margin: 0;
	font-size: 87.5%;
	font-family: Arial, 'Lucida Sans Unicode';
  font-family: 'Pangolin', cursive;
	line-height: 1.5;
	text-align: left;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #0A0A0A;
}

a:hover, a:active {
	color: white;
}

h2 {
	margin: 0 auto;
}

.body {
	margin: 0 auto;
	width: 100%;
	clear: both;
}

.mainHeader nav {
	background-color: #3b3a30;		
}

.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;
}

.mainHeader nav ul li {
	float: left;
	display: inline;
	list-style: none;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #000;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
}

.mainHeader nav a:hover, .mainHeader nav a:active, .mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background-color: #710016;
	text-shadow: none;
}

.mainHeader nav ul li a {
	border-radius: 5px;
	-noz-border-radius: 5px;
	-wedkit-border-radius: 5px;
}

.Title {
    background-color: #0A0A0A;
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 20px;
    text-align: center;
    color: #FFF;
    font-size: 2vw;
    font-family: 'Pangolin', cursive;
    border-radius: 10px;
    letter-spacing: 8px;
}

.Header {
    position: relative;
    opacity: 0.87;
    background-image: url('img/back_3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
		padding: 25% 15%;
}

.mainContent {
	line-height: 25px;
	border-radius: 5px;
	-noz-border-radius: 5px;
	-wedkit-border-radius: 5px;
}

.Content {
	width: 100%;
	float: none;
}

/* First post style */

.One {
  background-color: #123456;

}

.Firstcontainer {
	display: grid;
	grid-template-columns: auto auto auto auto auto;

}

.container {
  position: relative;
}

.container img {
	width: 100%;
	height: auto;
}

.image {
  opacity: 1;
  transition: 1s ease;
  backface-visibility: hidden;
}

.middle {
	padding-right: 5%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

 .middle a {
  background-color: #4CAF50;
  color: white;
  font-size: 2vw;

}
/* End first post style*/

.Two {
    background-color: #234567;
    padding: 20% 15%;
}

.Three {
    background-color: #345678;
    padding: 20% 15%;
}

.Four {
    background-color: #478956;
    padding: 20% 15%;
}

.Five {
    background-color: #589A67;
    padding: 20% 15%;
}

.Six {
    background-color: #89A67B;
    padding: 20% 15%;
}

h1 {
	margin: 0;
}

.mainFooter {
	width: 100%;
	border-radius: 5px;
	-noz-border-radius: 5px;
	-wedkit-border-radius: 5px;
	background-color: #113355;
	padding: 3% 0%;
}

.mainFooter p {
	font-size: 120%;
	width: 100%;
	color: #000;
}

.mainFooter a {
	font-size: 90%;
}


@media only screen and (min-width: 150px) and (max-width: 780px)
{

	.body {
		width: 90%;
		font-size: 95%;
	}

	.mainHeader nav {
		height: 200px;
	}

	.mainHeader nav ul {
		padding-left: 0;
	}

	.mainHeader nav ul li {
		width: 100%;
		text-align: center;
	}

	.mainHeader nav a:link, .mainHeader nav a:visited {
		padding: 10px 25px;
		height: 20px;
		display: block;
	}

	.Title {
		font-size: 60%;
		position: sticky;
	}

	.Content {
		width: 100%;
		float: left;
		margin-top: 0%;
	}

	.Two, .Three, .Four, .Five, .Six{
		margin-top: 3%;
	}

	.mainFooter {
		padding: 0px;
	}

	.mainFooter p {
		text-align: center;
		margin: 0px;
	}

	.mainFooter a {
		text-align: center;
		display: block;
		margin: 0px;
		align: center;
	}
}
